<div class="card card-primary">
  <div class="card-body">
    <div>
      <div>
        <div class="card-img-wrapper">
          <img src="{{ cardRealtyData.url }}" class="card-img-top" />
          <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
              <button class="btn btn-primary" placement="top" ngbTooltip="edit">
                <span class="material-icons md-15">border_color</span>
              </button>
            </li>
            <li class="list-inline-item">
              <button
                class="btn btn-primary"
                placement="top"
                ngbTooltip="contact"
              >
                <span class="material-icons md-15"> contacts </span>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-body p-2">
          <h3 class="mb-0">2BHK Apartment</h3>
          in Craftman
          <span>,</span> Mississauga
          <h6 class="mt-2">
            Full
            <span>Furnished</span>
            <span> | Ready to Move</span>
          </h6>
          <hr class="mt-0 mb-2" />
          <h6 class="mb-0">
            Price:
            <span class="font-highlight"> 2100000 USD.</span> | Area:
            <span class="font-highlight">3500 Sq Ft </span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
