<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Admin Test 2</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main"> <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item active">Admin</li>
    <li class="breadcrumb-item active">Admin Test 2</li>
  </ul>
  <div class="row">
    <div class="col-sm-6 col-xs-6 col-6">
      <b>
        <i class="fa fa-table" aria-hidden="true"></i>
        Data Table List
      </b>
    </div>
    <div class="col-sm-6 col-xs-6 col-6 text-right">
      <button type="button" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Add New Data
      </button>
    </div>
  </div>
</section>
