.ng-invalid.ng-touched {
  border-color: red;
}

.error-block {
  color: red;
}

/*Loading the spinner*/

.div-spinner-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: #fcfdfb;
  opacity: 0.7;
}

.div-spinner-inner {
  position: relative;
  top: 40% !important;
  text-align: center;
  vertical-align: middle;
}

.toast-top-right {
  padding-top: 60px;
}

.tableHeader {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

// .searchTable {
//   margin-right: 1.2vh;
//   ion-input {
//     --background: #fff;
//     --border-radius: 5px;
//     padding: 8px;
//     margin: 0.2vh 0.5vh auto;
//     width: 30%;
//   }
// }
.ngx-datatable {
  border-radius: 5px;
  box-shadow: none !important;
}

.ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  background: #49576d;
  // background: #4b6ef7;
  color: #fff;
  opacity: 0.9;
  text-wrap: wrap !important;
  word-wrap: break-word !important;
  font-weight: bold;
  font-size: 15px;
}

.ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  background-color: transparent !important;
  // background-color: #f5f6ff !important;
}

.datatable-body {
  word-wrap: break-word !important;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  align-items: center;
}

/**********************/
